/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 8px;
  cursor: pointer;
 }
button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary {
  color: #FFF;
  filter: brightness(90%) }
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  filter: brightness(90%) }


/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* TEKKADAN'S LINKS */

/* Honey */
.button.button-honey {
  color: #FFFFFF;
  background-color: #ff6700 }
.button.button-honey:hover,
.button.button-honey:focus {
  filter: brightness(90%) }

/* WorkFlowy */
.button.button-workflowy {
  color: #47525a;
  background-color: #FFFFFF }
.button.button-workflowy:hover,
.button.button-workflowy:focus {
  filter: brightness(90%) }

/* LittleLink */
.button.button-link {
  color: #FFFFFF;
  background-color: #0085ff }
.button.button-link:hover,
.button.button-link:focus {
  filter: brightness(90%) }

/* Crypto.com */
.button.button-cryptocom {
  color: #FFFFFF;
  background-color: #103f68 }
.button.button-cryptocom:hover,
.button.button-cryptocom:focus {
  filter: brightness(90%) }

/* iTrustCapital */
.button.button-itrust {
  color: #79a617;
  background-color: #000000 }
.button.button-itrust:hover,
.button.button-itrust:focus {
  filter: brightness(90%) }